/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Colors */
:root {
  --light-background-color: #fff0e1;
  --light-text-color: #2b1b1b;

  --dark-background-color: #2b1b1b;
  --dark-text-color: #fff0e1;
  --alt-background-color: #d9d9d9;

  --main-color: #ff6b1a;
  --accent-color: #ff3c00;
  --accent-color2: #97dffc;
}

/* Main Styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  background-color: var(--light-background-color);
}

/* First Screen */
.first-screen-wrapper {
  height: 100vh;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  margin: 0 auto;
  max-width: 70%;
}

.first-screen {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 200px;
}

nav a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: var(--dark-text-color);
}

/* Underline effect */

nav a:not(:first-of-type):not(:last-of-type)::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color2);
  transition: all 0.3s ease;
}

nav a:not(:first-of-type):not(:last-of-type):hover::after {
  width: 60%;
}

.nav-button {
  font-weight: 800;
  display: flex;
  height: 35px;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  background-color: var(--accent-color);
  justify-content: center;
  align-items: center;
  color: var(--light-text-color);
}

h1 {
  font-weight: 900;
  font-size: 76px;
  color: var(--dark-text-color);
}

h3 {
  font-size: 28px;
  font-weight: 900;
}

.hero p {
  font-size: 32px;
  font-weight: 400;
  color: var(--dark-text-color);
  margin: 40px 0 40px 0;
}

.hero .hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: var(--accent-color);
  padding: 20px 50px;
  text-decoration: none;
  color: var(--light-text-color);
  font-weight: 900;
  font-size: 32px;
  border-radius: 50px;
}

/* Campaign */

#campaign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#campaign h1 {
  color: var(--light-text-color);
}

#campaign p {
  font-size: 24px;
  text-align: left;
}

#campaign .logos img {
  padding: 0 10px;
}

#campaign .catch-a-breeze-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color2);
  padding: 20px 50px;
  text-decoration: none;
  color: var(--light-text-color);
  font-weight: 900;
  font-size: 32px;
  border-radius: 50px;
}

#pros {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#pros .card {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: var(--alt-background-color);
  padding: 20px;
}

#pros img {
  width: 30px;
}
